<section class="hero">
  <div class="container container-hero">
    <div class="hero-content">
      <h1 class="hero-title">HELLO, I AM

  <span class="text-decoration-accent"> FULLSTACK
        DEVELOPER </span>
      </h1>
      <div class="hero-button">
        <span class="hero-button-accent"></span>
        <a class="hero-button-link" href="#work-together">
          <svg class="hero-button-icon" width="28" height="18">
            <use href="../images/symbol-defs.svg#icon-hero"></use>
          </svg>
          Order the project
        </a>
      </div>
    </div>
    </div>

    <div class="hero-img-wrapper position">
      <picture class="hero-image">
        <source media="(min-width: 1280px)" srcset="../images/person.png 1x, ../images/person-2x.png 2x">
        <source media="(min-width: 768px)" srcset="../images/person-tab.png 1x, ../images/person-tab-2x.png 2x">
        <source media="(max-width: 767px)" srcset="../images/person-mob.png 1x, ../images/person-mob-2x.png 2x">
        <img src="./img/hero/person.png"
        alt="Person"
        loading="lazy">
      </picture>
</div>
      <div class="hero-dscr">
        <p class="hero-dscr-text">I work with people all over the world to create <span
            class="hero-dscr-text-accent">impressive</span> and <span class="hero-dscr-text-accent">functional
            websites</span> that
          reflect each client’s unique
          personality.</p>
      </div>

      <div class="hero-social">
        <ul class="hero-social-list">
          <li class="hero-social-item">
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">Insragram</a>
          </li>

          <li class="hero-social-item">
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">Facebook</a>
          </li>

          <li class="hero-social-item">
            <a href="https://www.linkedin.com/" target="_blank"
              rel="noopener noreferrer">Linkedin</a>
          </li>

          <li class="hero-social-item">
            <a href="https://https://github.com/Spinkll/Project-javascript-goit" target="_blank"
              rel="noopener noreferrer">GitHub</a>
          </li>
        </ul>
      </div>
  </div>
</section>
