<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/my-projects.css">
    <title>Document</title>
</head>
<body>
    <section class="four-section">
    <h2 class="projects-item">My<span class="projects-span"> projects</span></h2>
    <ul class="list-sites">
        <li class="items-info">
            <img src="../images/first-phone1x.png">
            <p class="lang-item">React, JavaScript, Node JS, Git</p>
            <h3 class="text-info">Wallet webservice</h3>
            <a class="text-btn">
                <button class="visit-button">VISIT
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li class="items-info">
            <img src="../images/two-phone1x.png">
            <p class="lang-item">React, JavaScript, Node JS, Git</p>
            <h3 class="text-info">Green harvest webservice</h3>
            <a class="text-btn">
                <button class="visit-button">VISIT
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li class="items-info">
            <img src="../images/three-phone1x.png">
            <p class="lang-item">React, JavaScript, Node JS, Git</p>
            <h3 class="text-info">English Exellence website</h3>
            <a class="text-btn">
                <button class="visit-button">VISIT
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li class="items-info">
            <img src="../images/four-phone1x.png">
            <p class="lang-item">React, JavaScript, Node JS, Git</p>
            <h3 class="text-info">Starlight studio landing page</h3>
            <a class="text-btn">
                <button class="visit-button">VISIT
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li class="items-info">
            <img src="../images/five-phone1x.png">
            <p class="lang-item">React, JavaScript, Node JS, Git</p>
            <h3 class="text-info">Fruitbox online store</h3>
            <a class="text-btn">
                <button class="visit-button">VISIT
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li class="items-info">
            <img src="../images/six-phone1x.png">
            <p class="lang-item">React, JavaScript, Node JS, Git</p>
            <h3 class="text-info">Energy flow webservice </h3>
            <a class="text-btn">
                <button class="visit-button">VISIT
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li class="items-info">
            <img src="../images/seven-phone1x.png">
            <p class="lang-item">React, JavaScript, Node JS, Git</p>
            <h3 class="text-info">Chego jewelry website</h3>
            <a class="text-btn">
                <button class="visit-button">VISIT
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li class="items-info">
            <img src="../images/eight-phone1x.png">
            <p class="lang-item">React, JavaScript, Node JS, Git</p>
            <h3 class="text-info">Vyshyvanka vibes Landing Page</h3>
            <a class="text-btn">
                <button class="visit-button">VISIT
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li class="items-info">
            <img src="../images/nine-phone1x.png">
            <p class="lang-item">React, JavaScript, Node JS, Git</p>
            <h3 class="text-info">Power pulse webservice </h3>
            <a class="text-btn">
                <button class="visit-button">VISIT
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li class="items-info">
            <img src="../images/ten-phone1x.png">
            <p class="lang-item">React, JavaScript, Node JS, Git</p>
            <h3 class="text-info">Mimino website</h3>
            <a class="text-btn">
                <button class="visit-button">VISIT
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
    </ul>
    <a>
        <button class="two-button">Load more</button>
    <svg class="icon-line" width="107" height="2">
        <use href="../images/symbol-defs.svg#icon-Arrow-1"></use>
    </svg>
    </a>
    </section>
</body>
</html>