<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="projects-item"><span class="projects-span">My</span> projects</h2>
    <ul>
        <li>
            <img src="../images/first-phone1x.png">
            <p>React, JavaScript, Node JS, Git</p>
            <p>Wallet webservice</p>
            <a>
                <button class="visit-button">Visit
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li>
            <img src="../images/two-phone1x.png">
            <p>React, JavaScript, Node JS, Git</p>
            <p>Green harvest webservice</p>
            <a>
                <button class="visit-button">Visit
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li>
            <img src="../images/three-phone1x.png">
            <p>React, JavaScript, Node JS, Git</p>
            <p>English Exellence website</p>
            <a>
                <button class="visit-button">Visit
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li>
            <img src="../images/four-phone1x.png">
            <p>React, JavaScript, Node JS, Git</p>
            <p>Starlight studio landing page</p>
            <a>
                <button class="visit-button">Visit
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li>
            <img src="../images/five-phone1x.png">
            <p>React, JavaScript, Node JS, Git</p>
            <p>Fruitbox online store</p>
            <a>
                <button class="visit-button">Visit
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li>
            <img src="../images/six-phone1x.png">
            <p>React, JavaScript, Node JS, Git</p>
            <p>Energy flow webservice </p>
            <a>
                <button class="visit-button">Visit
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li>
            <img src="../images/seven-phone1x.png">
            <p>React, JavaScript, Node JS, Git</p>
            <p>Chego jewelry website</p>
            <a>
                <button class="visit-button">Visit
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li>
            <img src="../images/eight-phone1x.png">
            <p>React, JavaScript, Node JS, Git</p>
            <p>Vyshyvanka vibes Landing Page</p>
            <a>
                <button class="visit-button">Visit
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li>
            <img src="../images/nine-phone1x.png">
            <p>React, JavaScript, Node JS, Git</p>
            <p>Power pulse webservice </p>
            <a>
                <button class="visit-button">Visit
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
        <li>
            <img src="../images/ten-phone1x.png">
            <p>React, JavaScript, Node JS, Git</p>
            <p>Mimino website</p>
            <a>
                <button class="visit-button">Visit
                    <a>
                        <svg class="icon-icon" width="14.5" height="14.5">
                            <use href="../images/symbol-defs.svg#icon-Vector-24"></use>
                        </svg>
                    </a>
                </button>
            </a>
        </li>
    </ul>
    <button>Load more</button>
</body>
</html>