.about-me {
    font-family: 'Poppins Medium', sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
}

.about-me-title {
    font-family: 'Impact', sans-serif;
    font-size: 52px;
    letter-spacing: 1.8px;
    line-height: 64px;
    margin-bottom: 40px;
}

.about-me__color{
    margin-left: 10px;
    color:var(--secondary-color);
}

.about-me__img {
    margin-bottom: 40px;
    max-width: fit-content;
}

.about-me__block{
    margin-bottom: 40px;
    width: 320px;
    color:var(--title-color);
}
.about-me__title {
    font-family: 'Poppins Medium', sans-serif;
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin-bottom: 32px;
}
.education__list {
    text-decoration: dashed;
    list-style: square;
}
.bio__text{
    width:320px;
    line-height: 24px;
    color:var(--title-color);
}
.education__item {
    margin-left: 32px;
}
.education__item::marker{
    color:var(--secondary-color);
}

.role__list {
    margin-left: 32px;
    list-style: square;
}
.role__item::marker {
    color:var(--secondary-color);
}
.wh{
    margin-bottom: 24px;
}

.about-me__bg{
    display: none;
}

/* стрічка, що біжить */

.skills {
    background-color:var(--muted-color);
    overflow: hidden;
    font-family: Poppins Medium, sans-serif;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 48px;
    list-style-type: square;
    color:var(--title-color);
}
.skills__bg{
    background-color: var(--accent-color);
    transform: rotate(2deg);
    position: relative;
    z-index: -1;
    color:var(--secondary-color);
}

.skills__wrapper {
    display: flex;
    list-style-type: square;
    padding-left: 0;
    width: fit-content;
    transform: translate(100%, 0);
    animation: ticker reverse 20s linear infinite;
}
.skill__wrapper {
    display: flex;
    list-style-type: square;
    padding-left: 0;
    width: fit-content;
    transform: translate(100%, 0);
    animation: ticker  20s linear infinite;
}
.skills__item,.skill__item {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 40px;
    flex-shrink: 0;
    white-space: nowrap;
    }
.skills__item::marker{
    color: var(--secondary-color);
}

.skill__item::marker{
    color:var(--title-color);
} 

@keyframes ticker {
    0% {        
        transform: translate(135%, 0);
    }    
    99% {    
        opacity: 1;
        transform: translate(-135%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-135%, 0);
    }   
}    


@media screen and (min-width: 768px) {

    .blocks__position{
        display: flex;
        gap: 32px;
    }
    .about-me__block,
    .bio__text{
        width: 336px;
        margin-bottom: 0;

    }
    .about-me{
        padding-bottom: 124px;
    }
    .about-me-title{
        font-family: 'Impact',sans-serif;
        font-size: 108px;
        letter-spacing: 1.8px;
        line-height: 124px;
    }
    .about-me__title{
        font-family: 'Poppins Medium',sans-serif;
        font-size: 36px;
        letter-spacing: 0.5px;
        line-height: 48px;
    }
    .bio__position{
        display: flex;
        justify-content: space-between;
        gap: 32px;
        margin-bottom: 60px;
    }
    .about-me__bg{
        display: block;
        position: absolute;
        width: 336px;
        height: 252px;
        right: 10;
        bottom: 120;
    }
    .skills{
        font-size: 36px;
    }
    .skills__item,.skill__item {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .about-me__img{
        margin-top: 232px;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1280px) {
    .about-me{
        padding-bottom: 164px;
    }
    .wh{
        margin-bottom: 24px;
    }
    .about-me__img{
        margin-left: 220px;
        margin-top: 156px;
    }
    .bio__position{
        gap: 136px;
        margin-bottom: 80px;
    }
    .about-me__bg{
        height: 288px;
        position: absolute;
        right: 1;
        bottom: 10;
    }
    .blocks__position{
        gap: 136px;
        padding-left: 220px;
    }
    .about-me__block,
    .bio__text{
        width: 488px;
    }
}