.about-me {
    padding-bottom: 80px;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
}

.container {
    max-width: 360px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.about-me-title {
    font-family: 'Impact', sans-serif;
    font-size: 52px;
    letter-spacing: 1.8px;
    line-height: 64px;
    margin-bottom: 40px;
}

.about-me__color{
    margin-left: 7px;
    color: rgba(0, 176, 104, 1);
}

.about-me__img {
    margin-bottom: 40px;
}

.about-me__block{
    /* position: relative; */
    margin-bottom: 40px;
    width: 320px;
}
.about-me__title {
    font-family: 'Poppins Medium', sans-serif;
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin-bottom: 32px;
}
.education__list {
    text-decoration: dashed;

}
.bio__text{
    width:320px

}
.education__item {
    margin-left: 32px;
}
.education__item::marker{
    color: rgba(0, 176, 104, 1);
}

.role__list {
    margin-left: 32px;

}
.role__item::marker {
    color: rgba(0, 176, 104, 1);
}
.wh{
    margin-bottom: 24px;
}

.about-me__bg{
    overflow: hidden;
}

/* стрічка, що біжить */

.skills {
    background-color: #BCDFD1;
    overflow: hidden;
    font-family: Poppins Medium;
    font-size: 36px;
    letter-spacing: 0.5px;
    line-height: 48px;
    list-style-type: square;
    color: #292929;
}
.skills__bg{
    background-color: #E4E5E6;
    transform: rotate(2deg);
    position: relative;
    z-index: -1;
    color: #00B068;
}

.skills__wrapper {
    display: flex;
    list-style-type: square;
    padding-left: 0;
    width: fit-content;
    transform: translate(100%, 0);
    animation: ticker 20s linear infinite;
}
.skills__item,.skill__item {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 40px;
    flex-shrink: 0;
    white-space: nowrap;
    }
    
.skills__item::marker{
    color: #00B068;
}

.skill::marker{
    color: #292929;
} 

@keyframes ticker {
    0% {        
        transform: translate(100%, 0);
    }    
    99% {    
        opacity: 1;
        transform: translate(-100%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-100%, 0);
    }   
}    




@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
    .blocks__position{
        position: relative;
        display: flex;
        gap: 32px;
    }
    .about-me__block,
    .bio__text{
        width: 336px;
    }
    .about-me{
        padding-bottom: 124px;
    }
    .about-me-title{
        font-family: 'Impact',sans-serif;
        font-size: 108px;
        letter-spacing: 1.8px;
        line-height: 124px;
    }
    .about-me__title{
        font-family: Poppins Medium;
        font-size: 36px;
        letter-spacing: 0.5px;
        line-height: 48px;
    }
    .bio__position{
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }
    .about-me__bg{
        overflow:visible;
        position: absolute;
        right: 0;
        bottom: 100;
    }
    .skills__item,.skill__item {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media screen and (min-width: 1280px) {
    .about-me{
        padding-bottom: 164px;
    }
    .container{
        width: 1280px;
        margin: 0 auto;
    }
    .blocks__position{
        gap: 136px;
    }
    .about-me__block,
    .bio__text{
        width: 384px;
    }
}