.about-me {
    padding-bottom: 80px;
    font-family: Poppins Medium;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
}

.container {
    max-width: 360px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.about-me-title {
    font-family: Impact;
    font-size: 52px;
    letter-spacing: 1.8px;
    line-height: 64px;
    margin-bottom: 40px;
}

.about-me__color{
    margin-left: 7px;
    color: rgba(0, 176, 104, 1);
}

.about-me_img {

}

.about-me__block{
    margin-bottom: 40px;
}
.about-me__title {
    font-family: Poppins Medium;
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin-bottom: 32px;
}

.bio__text {

}

.education__list {
    text-decoration: dashed;

}

.education__item {
    margin-left: 32px;
}
.education__item::marker{
    color: rgba(0, 176, 104, 1);
}

.role__list {
    margin-left: 32px;

}
.role__item{

}
.role__item::marker {
    color: rgba(0, 176, 104, 1);

}


.skills {
    
}
.skills__list {
    display: flex;
    background-color: rgb(7, 231, 142);
    font-family: Poppins Medium;
    font-size: 36px;
    letter-spacing: 0.5px;
    line-height: 48px;
    background-clip: text;
    -webkit-background-clip: text;
    animation: line-text 6s linear 1s infinite;
}
.skills__item{
    margin-left: 56px;
    white-space: nowrap;
}
@keyframes line-text {
    from{
    transform: translateX(115%);
    transform-origin:left center;
    }
    to{
    transform: translateX(-115%);
    transform-origin: right centr;
    }
}


.skills__bg {
}
.skills__bg::marker{
    color: rgba(41, 41, 41, 1);


}
.skills__item::marker{
    color: rgba(0, 176, 104, 1);
}





@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
    .about-me{
        padding-bottom: 124px;
    }
    .about-me-title{
        font-family: Impact;
        font-size: 108px;
        letter-spacing: 1.8px;
        line-height: 124px;
    }
    .about-me__title{
        font-family: Poppins Medium;
        font-size: 36px;
        letter-spacing: 0.5px;
        line-height: 48px;
    }
}
@media screen and (min-width: 1280px) {
    .about-me{
        padding-bottom: 164px;
        }
        .container{
            max-width: 1280px;
        }
}