.about-me {
    font-family: 'Poppins';
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
}

.about-me-title {
    font-family: 'Impact', sans-serif;
    font-size: 52px;
    letter-spacing: 1.8px;
    line-height: 64px;
    margin-bottom: 40px;
}

.about-me__color{
    margin-left: 10px; 
    color:var(--secondary-color);
}

.about-me__img {
    margin-bottom: 40px;
}

.about-me__block{
    margin-bottom: 40px;
    color:var(--titles-color);
}
.about-me__title {
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin-bottom: 32px;
}
.education__list {
    text-decoration: dashed;
    list-style: square;
}
.bio__text{
    line-height: 24px;
    color:var(--titles-color);
}
.education__item {
    margin-left: 32px;
}
.education__item::marker{
    color:var(--secondary-color);
}

.role__list {
    margin-left: 32px;
    list-style: square;
}
.role__item::marker {
    color:var(--secondary-color);
}
.wh{
    margin-bottom: 24px;
}

.about-me__bg{
    display: none;
}

/* стрічка, що біжить */

.skills {
    background-color:var(--muted-color);
    font-family: 'Poppins';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 48px;
    list-style-type: square;
    color:var(--titles-color);
}
.skills__bg{
    background-color: var(--accent-color);
    transform: rotate(2deg);
    position: relative;
    z-index: -1;
    color:var(--secondary-color);
}

.skills-wrap{
    position: relative;
    overflow: hidden;
    height: 242px;
}
.skills__wrapper {
    display: flex;
    padding-left: 0;
    width: fit-content;
    list-style: none;
    transform: translate(100%, 0); 
    animation: ticker reverse 10s linear infinite;
}
.skill__wrapper {
    display: flex;
    list-style: none;
    padding-left: 0;
    width: fit-content;
    transform: translate(100%, 0);  
    animation: ticker  10s linear infinite;
}
.skills__item, .skill__item {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 16px;
    flex-shrink: 0; 
    white-space: nowrap; 
    position: relative;
}
.skills__item::before {
    content: '';
    display: inline-block;
    width: 8px; 
    height: 8px; 
    margin-right: 16px;
    background-color: var(--secondary-color);
    border-radius: 20%;
    vertical-align: middle; 
}
.skill__item::before {
    content: '';
    display: inline-block;
    width: 8px; 
    height: 8px; 
    margin-right: 16px; 
    background-color: var(--titles-color);
    border-radius: 20%;
    vertical-align: middle;
}



@keyframes ticker {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%); 
    }
}


@media screen and (min-width: 768px) {

    .blocks__position{
        display: flex;
        gap: 32px;
    }
    .about-me__block,
    .bio__text{
        width: 336px;
        margin-bottom: 0;
    }
    .wh{
        margin-bottom: 24px;
    }
    .about-me{
        padding-bottom: 124px;
    }
    .about-me-title{
        font-size: 108px;
        letter-spacing: 1.8px;
        line-height: 124px;
    }
    .about-me__title{
        font-size: 36px;
        letter-spacing: 0.5px;
        line-height: 48px;
    }
    .bio__position{
        display: flex;
        justify-content: space-between;
        gap: 32px;
        margin-bottom: 60px;
    }
    .about-me__bg{
        display: block;
        position: absolute;
        width: 336px;
        height: 252px;
        right: 10;
        bottom: 120;
    }
    .skills{
        font-size: 36px;
    }
    .skills__item,.skill__item {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .skills-wrap{
        height: 282px;
    }
    .about-me__img{
        max-width: fit-content;
        margin-top: 232px;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1280px) {
    .about-me{
        padding-bottom: 164px;
    }
    .wh{
        margin-bottom: 24px;
    }
    .about-me__img{
        margin-left: 220px;
        margin-top: 156px;
    }
    .bio__position{
        gap: 136px;
        margin-bottom: 80px;
    }
    .about-me__bg{
        height: 288px;
        position: absolute;
        right: 1;
        bottom: 10;
    }
    .blocks__position{
        gap: 136px;
        padding-left: 220px;
    }
    .bio__text{
        width: 478px;
    }
    .about-me__desk{
        width: 384px;
    }
}