body {
  font-family: 'Poppins', sans-serif;
  color: #292929;
}
section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 359px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
  section {
    padding-top: 124px;
    padding-bottom: 124px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  section {
    padding-top: 164px;
    padding-bottom: 164px;
  }
}
