section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
}
@media screen and (max-width: 359px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
  section {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
}
