body {
  font-family: 'Inter Tight', sans-serif;
  color: #fbfbfb;
}

.container {
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 374px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 124px;
    padding-right: 124px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 164px;
    padding-right: 164px;
    width: 1280px;
  }
}
