.container .container-hero {
  max-width: 360px;
    padding: 0;
    margin: 0 auto;

}
.hero-content {background-image: url(../images/decor.png);}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-content{
    background-image: url(../images/decor.png);
  }
}

@media only screen and (min-width: 768px) {
  .container .container-hero {
    margin-bottom: 42px;
  }
}

@media only screen and (min-width: 1280px) {
  .container .container-hero{
    margin-top: 14px;
    margin-bottom: 69px;
  }
}

.container-hero {
  background-color:var( --primary-color);
}

@media only screen and (min-width: 768px) {
  .container-hero {
    min-height: 409px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-hero {
    display: flex;
    justify-content: space-between;
  }
}

.container.container-hero {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .container.container-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container.container-hero {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero-title {
  font-family: Impact;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 1.8px;
    max-width: 280px;
    line-height: normal;
    margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 136px;
    line-height: 1.15;
    max-width: 537px;
    margin-bottom: 44px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    width: 502.417px;
    margin-top: 159px;
    margin-bottom: 28px;
  }
}

.hero-dscr-text {
 max-width: 565px;
  margin-bottom: 32px;
  text-align: center;
  color: var( --black-light-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.5px;
}

@media only screen and (min-width: 768px) {
  .hero-dscr-text{
display: block;
max-width: 565px;
    color: var(--Black);
   text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.5px;
    max-width: 336px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-dscr-text-text {
    max-width: 565px;

  }
}

.header-btn.hero-button {
  display: block;
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  .hero-button {
    margin-bottom: 73px;
  }

    .hero-social {
      display: flex;
      margin-bottom: 364px;
      background-color: var(--accent-color);
      padding: 40px;
      gap: 40px;
      justify-content: center;
      align-items: center;
    }

    .hero-social-list {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: center;

    }

    .hero-social-item {
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.5px;
      text-transform: none;
    }

}

@media only screen and (min-width: 1280px) {
  .hero-button {
    margin-bottom: 0;
  }
  /*.hero-social {

    /*vertical-align: top;

  }*/

  .hero-button {
    margin-left: 72px;

  }


  .hero-dscr-text
  {width: 100%;
  justify-content: center;
align-items: center;}
}



@media only screen and (max-width: 767px) {
  .hero-img-wrapper.position {
    display: none;
  }
  .hero-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 364px;
    background-color: var(--accent-color);
    padding: 20px;
    gap: 40px;
  }
  .hero-dscr {margin-bottom: 40px;}

  .hero-button {
    margin-bottom:40px;

  }
}

@media only screen and (min-width: 1280px) {
  .hero-img-wrapper {
    margin: 14px 14px 14px 0;
  }
}

@media only screen and (max-width: 767px) {
  .hero-img {
    display: none;
  }
  .hero-dscr {
    margin-bottom: 40px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-img-wrapper.position {
    display: none;
  }
  .hero-dscr {margin-bottom: 40px;
    display: flex;
    text-align: center;
  /*padding: 120px 136px;*/
  max-width: 592px;
  }
  .hero-dscr-text
  {width: 100%;
  justify-content: center;
align-items: center;}
}

  /*.hero-img {
    display: none;
    flex-shrink: 0;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }*/


@media only screen and (min-width: 1280px) {
  .hero-img {
    z-index: 999;
    flex-shrink: 0;
    width: 100% ;
    object-fit: cover;
    border-radius: 32px;


    /*background-color: #fefefe;*/
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1280px) {
  .hero-img-wrapper {
    position: absolute;

    bottom: 150;
    right: 40px;
    width: 592px;
    /*height: 444px;*/

  }
}
/*.hero-img:hover,
.hero-img:focus,
.hero-img:active {
  /*border-color: var( --secondary-color);
}*/
