@import url('./reset.css');
@import url('./header.css');
@import url('./about-me.css');
@import url('./hero.css');
@import url('./my-projects.css');
@import url('./benefits.css');
@import url('./question.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./footer.css');
@import url('./container.css');
@import url('modern-normalize/modern-normalize.css');
@import url('./topic.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Impact';
  src: url('/src/fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Poppins', 'Impact';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
/*
  --black-light-color: #292929;
  --secondary-light-color: #00b068;
  --third-light-color: #f0f0f0;
  --accent-light-color: #e4e5e6;
  --muted-light-color: #bcdfd1;

  --primary-dark-color: #1e2023;
  --secondary-dark-color: #14c57c;
  --third-dark-color: #f0f0f0;
  --accent-dark-color: #2a2d32;
  --muted-dark-color: #204136;
*/
  color: var(--text-color);
  background-color: var(--primary-color);
  /*background-color: rgba(255, 255, 255, 0.87);*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.theme-dark {
  --primary-color: #1e2023;
  --secondary-color: #14c57c;
  --third-color: #f0f0f0;
  --accent-color: #2a2d32;
  --muted-color: #204136;
  --text-color: #ffffff;
  --titles-color: #292929;
}

.theme-light {
  --primary-color: #ffffff;
  --secondary-color: #00b068;
  --third-color: #f0f0f0;
  --accent-color: #e4e5e6;
  --muted-color: #bcdfd1;
  --text-color: #1e2023;
  --titles-color: #f0f0f0;
}