.faq {
}
.container {
}

.faq__title {
  font-family: Impact;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0.035em;
  text-transform: uppercase;

  margin-bottom: 40px;
}

.faq__title-accent {
  color: #00b068;
}

.faq__list {
}

.faq__item {
}

.faq__item.is-active {
  background-color: rgba(0, 176, 104, 0.2);
  border-radius: 16px;
}

.faq__subtitle {
}

.faq__btn {
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 28px 24px;
  margin: 0;

  text-align: left;

  color: #292929;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.028em;
  text-transform: uppercase;

  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.faq__item.is-active > .faq__subtitle .faq__btn {
  border: none;
}

.faq__icon {
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.faq__item.is-active > .faq__subtitle .faq__btn .faq__icon {
  transform: rotateX(180deg);
  transition: transform 0.3s ease;
}

.ac-panel {
  visibility: hidden;
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.faq__item.is-active .ac-panel {
  visibility: visible;
}

.faq__text {
  color: #292929;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.031em;

  padding: 0px 24px 28px 24px;
}

/* =========Tablet 768px ========== */

@media screen and (min-width: 768px) {
  .faq__title {
    font-size: 108px;
    line-height: 1.15; /* 114.815% */
    letter-spacing: 0.017em;

    margin-bottom: 60px;
  }

  .faq__btn {
    width: 704px;

    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.025em;

    gap: 24px;
  }
}

/* =========Desctop 1280px ========== */

@media screen and (min-width: 1280px) {
  .faq {
  }
  .faq .container {
    display: flex;
    justify-content: space-between;

    background-image: url(../images/faq_decor-1x.png);
    background-repeat: no-repeat;
    background-position: left 32px bottom;
    background-size: 526px;
  }
  .faq__title {
    width: 520px;
    margin-bottom: 0;
  }
  .faq__list {
    margin-top: 276px;
    max-width: 592px;
  }
  .faq__btn {
    width: 592px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px) {
  .faq .container {
    background-image: url(../images/faq_decor-2x.png);
  }
}
