@import url('./reset.css');
@import url('./header.css');
@import url('./about-me.css');
@import url('./hero.css');
@import url('./my-projects.css');
@import url('./benefits.css');
@import url('./question.css');
@import url('./reviews.css');
@import url('./footer.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --muted-light-color:#BCDFD1;
  --black-light-color:#292929;
  --secondary-light-color:#00B068;
  --accent-light-color:#E4E5E6;
}
