.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.work-together {
    padding-top: 144px;
    padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
    .work-together {
        padding-top: 124px;
        padding-bottom: 124px;
    }
} 

.work-together-title {
    color: #00B068;
    font-family: Impact;
    font-size: 52px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .work-together-title {
        font-size: 108px;
        line-height: 124px;
        margin-bottom: 60px;
    }
}

.black-work-together-title {
    color: #292929;
}

.work-together-contacts {
    display: flex;
    width: 320px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

@media screen and (min-width: 768px) {
    .work-together-contacts {
        display: inline-flex;
        width: 639px;
    }
}

.work-together-text {
    align-self: stretch;
    color: #292929;
    font-family: Poppins;
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .work-together-text {
        width: 488px;
        font-size: 20px;
        line-height: 32px; 
    }
} 

/* .work-together-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .work-together-address {
        display: flex;
        flex-direction: row;
    }
} */

.page-address {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
    max-width: 258px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .page-address {
        flex-wrap: nowrap;
        max-width: 639px;
    }
}

.page-address li {
    color: #292929;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
}

.work-together-form {
    display: flex;
    max-width: 320px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;  
}

@media screen and (min-width: 768px) {
    .work-together-form {
        max-width: 704px; 
    }
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.email-input {
    display: flex;
    height: 16px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #E4E5E6;
    padding: 16px;
    border: none;
    color: rgba(41, 41, 41, 0.40);
    font-family: Poppins;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
}

.order-textarea {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #E4E5E6;
    height: 96px;
    border: none;
    color: rgba(41, 41, 41, 0.40);
    font-family: Poppins;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
}

.form-submit-btn {
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #00B068;
    border: none;
    width: 100%;
    color: #F0F0F0;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
}

@media screen and (min-width: 768px) {
    .form-submit-btn {
        padding: 12px 0;
        width: 173px;
    }
}


